body {
    font-family: 'Montserrat' sans-serif;
    text-align: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


p {
    color: #8f8f8f;
    font-size: 1rem;
}

em {
    font-size: 1.6rem;
}


/* Headings */
.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    padding: 15% 0% 5% 0%;
}

.sub-title {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 100;
    font-family: 'Montserrat-Thin', sans-serif;
    padding: 0% 0% 5% 0%;
}

/* Containers */
.title-container {
    padding: 7% 7%;
}


/* Sections */
.colored-section {
    background-color: #861657;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navigation bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}



/* Title Section */

#title .title-container {
    /* background-color: #660f56; */
    background-image: linear-gradient(to right, #a40160 , #520230);
    padding: 3% 7% 7%;
    text-align: left;
}

.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}


/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
    width: 30%;
    transform: rotate(0deg);
    position: absolute;
    right: 15%;
}

.first-image {
    width: 100%;
    position: relative;
    border-radius: 80%;
}



/* Features Section */
#features {
    position: relative;
    z-index: 1;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.feature-box {
    padding: 1%;
}

.icon {
    color: #a40160;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #83024b;
}



/* Testimonial Section */
#testimonials {
    color: #fff;
}

.testimonial-text {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: normal;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* Press Section */

#press {
    padding-bottom: 3%;
}

.press-logo {
    width: 50%;
    margin: 5px 5px 5px;
}



/* Pricing Section*/

#pricing {
    padding: 10px 0px 30px 0px;
}

.pricing-column {
    padding: 0% 2%;
}

.price-text {
    font-size: 1.6rem;  
}



/* Call to Action */

.cta-text {
    font-size: 1.5rem;
    color: #fff;
}

.cta-container {
    padding: 0% 5% 0% 5%;
}

.cta-heading {
    padding: 0% 5% 5% 5%;
    font-size: 2.0rem;
}

.sign-form {
    padding: 0 40% 5% 40%;
    font-size: 1.0rem
}

.sign-up {
    padding: 0% 10% 0 10%;
}



/* Footer Section */

.footer-container {
    padding: 2% 2%;
}

.social-icon {
    margin: 0px 2px;
}




@media (max-width: 1028px) {

    p {
        font-size: 1rem;
    }
    

    em {
        font-size: 1rem;
    }
    
    
    /* Headings */
    .big-heading {
        font-size: 2rem;
    }
    
    .sub-title {
        font-size: 1rem;
    }
  
    
    /* Navigation bar */
    .navbar {
        padding: 0 0 2.5rem;
    }
    
    .navbar-brand {
        font-size: 1rem;
    }

    .nav-link {
        font-size: 1rem;
    }
    
    
    
    /* Title Section */
    
   
    .section-heading {
        font-size: 2rem;
    }
    
    .title-image {
        width: 10%;
    }
   
    /* Features Section */
    
    .feature-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    
    /* Testimonial Section */

    
    .testimonial-text {
        font-size: 1.0rem;
    }

    /* Pricing Section */

    .card {
        padding: 20%;
    }
    
    /* Call to Action */
    
    .cta-text {
        font-size: 1.2rem;
    }
    
    .sign-form {
        font-size: 1.2rem
    }
   
}